<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/addCourse" method="post" >
        <input placeholder="nama kelas" name="namaKelas" type="text">
        <br>
        <input placeholder="tentang kelas" name="tentangKelas" type="text">
        <br>
        <input placeholder="fasilitas kelas" name="fasilitasKelas" type="text">
        <br>
        <input placeholder="materi kelas" type="materiKelas" type="text">
        <br>
        <input placeholder="mentor kelas" name="mentorKelas" type="text">
        <br>
        <input class="sub" type="submit">
    </form>
    
</body>
</html>